@import '../../App.scss';

.main-div-left{
    height: 88vh;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    color: $white-color;
}

.compose-div{
    display: flex;
    margin: 5%;
    justify-content: center;
    align-items: center;
    background-color: $mail-model-hover-bg;
    border-radius: 20px;
    cursor: pointer;

    .MuiSvgIcon-root {
        font-size: 2.5rem;
    }
    p{
        font-size: 1.2rem;
    }
}

.left-item-model{
    display: flex;
    width: 90%;
    margin-top: 1%;
    padding-left: 5%;
    align-items: center;
    color: $white-color;
    gap: 5%;
    cursor: pointer;

    .MuiSvgIcon-root {
        font-size: 1.8rem;
    }
    p{
        font-size: 1.15rem;
    }
}

.left-item-model:hover{
    background-color: $mail-model-hover-bg;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px ;

    p{
        color: $red-text-color;

    }
}