$white-color: #fff;
$black-color: #1E1E1E;
$light-color: #fbfbfb;

$mail-model-bg :#272626;
$mail-model-hover-bg :#353434;

$normal-text-color :#C2C7C9;

$icon-color:#3E4545;
$icon-color-hover:#b6b8b8;
$icon-color-point:#f0efef;

$main-color: #dd281b;
$bg-color: #201e1e;
$light-grey:#b2b3b4;

$red-text-color :#f52b2b;

$primary-red : #e71d1d;
$social-blue : #104dbe;
$promotion-green : #13a026;